.container
  .fields
    .region.size1of1
      #header
        %ul#skip
          %li
            %a{href: "#nav"} skip to Main Navigation
          %li
            %a{href: "#content"} skip to Main Content
          %li
            %a{href: "#footer"} skip to Footer
        %a#logo{href: "/", rel: "home"}
          %img{alt: "Starbucks Coffee Company", src: "/static/images/global/logo.png"}/
        #utilities
          %ul.utility_list
            %li.utility_dash.dropdown
              %a.current.account_hello{href: "/account"} Hello kate
              .dash_content_wrap{style: "display: none;"}
                .util_content
                  .util_mycards.utility_dash_item
                    %h3
                      %a{href: "/account/card"} My Cards
                    .card_info
                      %a{href: "/account/card/reload/onetime"}
                        %img{alt: "jonathan_adler", src: "https://www.starbucks.com/images/cardimages/card_jonathan_adler_115.png"}/
                      %div
                        %p.card_balance.numbers
                          %span $0.00
                          %span.datestamp 1/6/2014 12:19 PM
                        .utility_card_links
                          %a{href: "/account/card/reload/onetime"} Reload
                          %span.divider |
                          %a{href: "/account/card"} Manage
                  .util_myrewards.utility_dash_item
                    %h3
                      %a{href: "/account/rewards"} My Rewards
                    .util_cardrewards.utility_rewards_item
                      .stars_earned
                        %img.reward_icon{alt: "Stars earned", src: "/static/images/rewards/icon_rewards_3stars_gold.png", title: "Stars earned"}/
                        %span.reward_count.numbers 5
                        %p Stars To Next Free Reward
                      .reward_level
                        %p.reward_bar.gold_level
                          Gold Level
                        %p Earn 9 Stars to enjoy Gold Level Status for another year.
                    .util_monthlyrewards.utility_rewards_item
                      %img.reward_icon{alt: "Free rewards available", src: "/static/images/rewards/icon_rewards_cup_gold.png", title: "Free rewards available"}/
                      %span.reward_count.numbers 0
                      %p
                        Earned
                        %a{href: "/account/rewards/history"} Free Rewards
                        available.
                    .util_potw.utility_rewards_item
                      %p Pick of the Week
                  .util_myprofile.utility_dash_item
                    %h3
                      %a{href: "/account/profile"} My Profile
                    %p Settings, Personal Content & Participation.
                  .util_signout
                    %a{href: "/account/home"} Account Home
                    \ | 
                    %a{href: "/account/signout"} Sign Out
            %li.utility_customer.utility_link
              %a{href: "/customer-service"} Customer Service
            %li.utility_link
              %a{href: "/store-locator"} Find a Store
        #nav.full
          .nav_control
            %a{href: "#nav"} Navigation
          .nav_menu
            %ul
              %li#nav_coffee
                .null_left
                %a.tab{href: "/coffee"}
                  %strong Coffee
                  %br/
                  %span Beans Blends Brewing
                .null_right
              %li#nav_menu
                .null_left
                %a.tab{href: "/menu"}
                  %strong Menu
                  %br/
                  %span Drinks Food Nutrition
                .null_right
              %li#nav_coffeehouse
                .null_left
                %a.tab{href: "/coffeehouse"}
                  %strong Coffeehouse
                  %br/
                  %span Music Wi-Fi Community
                .null_right
              %li#nav_responsibility
                .null_left
                %a.tab{href: "/responsibility"}
                  %strong Responsibility
                  %br/
                  %span Values Goals Progress
                .null_right
              %li#nav_card
                .null_left
                %a.tab{href: "/card"}
                  %strong Card
                  %br/
                  %span Register Reload Rewards
                .null_right
              %li#nav_shop
                .null_left
                %a.tab{href: "http://www.starbucksstore.com/on/demandware.store/Sites-Starbucks-Site/default/Default-Start?cm_mmc=Sbuxcom-_-HP-_-EarlyLaunch-_-HolidayFY14"}
                  %strong Shop
                  %br/
                  %span Search Compare Buy
                .null_right